@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h2>Mark this item complete?</h2>

@Html.DisplayFor(model => model.Description)

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ItemId)
  @Html.HiddenFor(model => model.CategoryId);
  @Html.HiddenFor(model => model.Description);
  @Html.HiddenFor(model => model.IsComplete);
  <input type="submit" value="Mark complete"/>
}
<br>
<p>@Html.ActionLink("Back to list", "Index")</p>